BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 2
AccessModifierOffset: -1
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Attach
PointerAlignment: Left
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
IncludeBlocks: Preserve
SortIncludes: false
